<ion-menu side="start" menuId="main-menu" contentId="main" class="my-custom-menu">
  <!-- <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Kavaa Book</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <div class="menu-header-bg"> </div>
    <div class="header-content">
      <img src="../../../../assets/image/image1.jpg">
      <ion-label>
        <h2>Khalil El moudene</h2>
        <p>Developer</p>
      </ion-label>
    </div>
    <div class="action-button">
      <ion-button (click)="Voisettings()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        Réglage
      </ion-button>
    </div>

    <ion-list class="menu-items" lines="none">
      <ion-item>
        <ion-icon name="pie-chart-outline"></ion-icon>Dashboard
      </ion-item>
      <ion-item>
        <ion-icon name="browsers-outline"></ion-icon>Post Sessions
      </ion-item>
      <ion-item class="active">
        <ion-icon name="flash"></ion-icon>Live Sessions
      </ion-item>
      <ion-item>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>Messages
      </ion-item>
      <ion-item (click)="Logout()">
        <ion-icon name="exit-outline"></ion-icon>Sign out
      </ion-item>
    </ion-list>
    <!-- <ion-button expand="block"  (click)="Voisettings()"  >
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      Réglage
    </ion-button>
    <ion-button expand="block"   (click)="Logout()">
      <ion-icon slot="start"  name="log-out-outline"></ion-icon>
      Se déconnecter
    </ion-button> -->



  </ion-content>
</ion-menu>


<ion-router-outlet id="main"></ion-router-outlet>


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kavaa book</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs (ionTabsDidChange)="ionTabsDidChange()" (ionTabsWillChange)="ionTabsWillChange()">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="post">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <ion-label>Post</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="profils">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profils</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>

</ion-content>
