<ion-content [fullscreen]="true" >
  <div>

    <ion-card >

      <ion-item  (click)="presentModal()" style="cursor: pointer;">
        <ion-avatar slot="start" >
          <img src="../../../../assets/image/imageprofilejpg.jpg">
        </ion-avatar>
        <ion-label>
          <h3>Qu'est-ce qui préoccupe votre esprit</h3>

        </ion-label>
      </ion-item>

    </ion-card>
  </div>

<div style="padding: 7px;">

  <ion-card>
    <ion-item>
      <ion-avatar slot="start" >
        <img src="../../../../assets/image/imageprofilejpg.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Abderahim ber</h3>
        <p>Dec 10, 2021</p>
      </ion-label>
    </ion-item>



    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
    <img src="../../../../assets/image/image2.jpg" alt="ion">
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</div>

<div style="padding: 7px;">

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/image/imageprofilejpg.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Abderahim ber</h3>
        <p>Dec 10, 2021</p>
      </ion-label>
    </ion-item>



    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
    <img src="../../../../assets/image/image1.jpg" alt="ion">
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</div>
<div style="padding: 7px;">

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/image/imageprofilejpg.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Abderahim ber</h3>
        <p>Dec 10, 2021</p>
      </ion-label>
    </ion-item>



    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
    <img src="../../../../assets/image/image4.jpg" alt="ion">
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</div>
<div style="padding: 7px;">

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/image/image2.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Abderahim ber</h3>
        <p>Dec 10, 2021</p>
      </ion-label>
    </ion-item>



    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
    <img src="../../../../assets/image/image7.jpg" alt="ion">
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</div>
<div style="padding: 7px;">

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/image/image4.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Abderahim ber</h3>
        <p>Dec 10, 2021</p>
      </ion-label>
    </ion-item>



    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
    <img src="../../../../assets/image/image2.jpg" alt="ion">
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</div>
</ion-content>
