<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kavaa Book
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content >
  <div class="auth-form">
    <div class="imageclasse" >

    <img  style="border-radius: 32px;" src="../../../assets/image/kavaa.png" alt="ion">

  </div>

    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button   (click)="register()" expand="block"  color="danger"  >Register</ion-button>

  <br>


          <ion-button    (click)="login()" expand="block" color="danger" >Sign In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid></div>

</ion-content>
