<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <div class="cont-like" (click)="type(1)" >

          <img class="like"   src="../../../../assets/svg/like.svg" alt="ion">

        </div>
      </ion-col>
      <ion-col col-2>
        <div  class="cont-haha" (click)="type(2)">
          <img class="like"   src="../../../../assets/svg/haha.svg" alt="ion">

        </div>
      </ion-col>
      <ion-col col-2>
        <div  class="cont-care" (click)="type(3)">
          <img class="like"   src="../../../../assets/svg/care.svg" alt="ion">

        </div>
      </ion-col>
      <ion-col col-2>
        <div class="cont-love"  (click)="type(4)">
          <img class="like"   src="../../../../assets/svg/love.svg" alt="ion">

        </div>
      </ion-col>
      <ion-col col-2>
        <div class="cont-sad" (click)="type(5)">
          <img class="like"   src="../../../../assets/svg/sad.svg" alt="ion">

        </div>
      </ion-col>
      <ion-col col-2>
      <div   class="cont-wow" (click)="type(6)">
        <img class="like"  src="../../../../assets/svg/wow.svg" alt="ion">

      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
