<ion-content>

  <div class="header">
    <h2>{{user.fullName}}</h2>
    <div class="space-between">
      <!-- <div class="followings">
        <ion-badge color="primary" mode="ios">1</ion-badge>
        <p>Post</p>
      </div> -->
      <!-- <div class="followings">
        <ion-badge color="primary" mode="ios">42</ion-badge>
        <p>Abonnements</p>
      </div> -->
    </div>
  </div>

  <div class="flex">

    <div class="box-border">
      <div class="border-white">

        <div class="img-box">
          <img class="img" [src]="image">
          <ion-button (click)="ChangeProfilePhoto()" class="btn" fill="clear">
            <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          </ion-button>
        </div>

      </div>


    </div>



  </div>
  <div class="imfo">


    <ion-item-group>

      <ion-item>
        <ion-label>   <samp>Email</samp>   &nbsp;&nbsp;  &nbsp;&nbsp;<samp>{{user.email}}</samp></ion-label>

      </ion-item>
      <ion-item>
        <ion-label><samp>Date de naissance</samp>   &nbsp;&nbsp;  &nbsp;&nbsp;<samp>{{user.birthDate | date: 'dd/MM/yyyy'}}</samp></ion-label>

      </ion-item> <ion-item>
        <ion-label><samp>Rejoint en</samp>   &nbsp;&nbsp;  &nbsp;&nbsp;<samp>{{user.createdDate | date: 'dd/MM/yyyy'}}</samp></ion-label>

      </ion-item>
    </ion-item-group>
  </div>


<div>

  <ion-card >

    <ion-item  (click)="presentModal()" style="cursor: pointer;">
      <ion-avatar slot="start" >
        <img [src]="image">
      </ion-avatar>
      <ion-label>
        <h3>Qu'est-ce qui préoccupe votre esprit</h3>

      </ion-label>
    </ion-item>

  </ion-card>
</div>


<div class="progress" *ngIf="laoding">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>

</div>
<div *ngFor="let post of listOfPost; let i = index ">


  <div style="padding: 7px;">

    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img *ngIf="post.pictureUser==null" src="../../../../assets/image/test.jpg">
          <img *ngIf="post.pictureUser" [src]="post.pictureUser">


        </ion-avatar>
        <ion-label>
          <h3>{{post.userFullName}}</h3>
          <p>{{post.createdDate| date: 'dd/MM/yyyy a HH:mm' }}</p>
        </ion-label>


        <ion-buttons slot="end"  (click)="parametrePost(post.id,post.userId)">
          <ion-button>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>


      </ion-item>



      <ion-card-content>
        {{post.libelle}}
      </ion-card-content>
      <img *ngIf="post.picture" [src]="post.picture" alt="ion">
      <ion-footer>
        <ion-row>
          <ion-col center text-center>
            <div  >
              <img class="like"  *ngIf="findReact(i,1)" src="../../../../assets/svg/like.svg" alt="ion">
              <img class="like" *ngIf="findReact(i,4)" src="../../../../assets/svg/love.svg" alt="ion">
              <img class="like" *ngIf="findReact(i,3)" src="../../../../assets/svg/care.svg" alt="ion">
              <img class="like" *ngIf="findReact(i,2)" src="../../../../assets/svg/haha.svg" alt="ion">
              <img class="like" *ngIf="findReact(i,6)" src="../../../../assets/svg/wow.svg" alt="ion">
              <img class="like" *ngIf="findReact(i,5)"  src="../../../../assets/svg/sad.svg" alt="ion">
              <img class="like" *ngIf="findReact(i,7 )"  src="../../../../assets/svg/angry.svg" alt="ion">



            </div>
            <div>{{post.typeReact.length}} Likes</div>
          </ion-col>
          <ion-col center text-center>
            <button>
            </button>
            <div>{{post.numberComments}} Comments</div>

          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <button  [disabled]="btnLike" ion-long-press class="btnreact"  (click)=like(post.id,post.userId,1)   [disabled]="btnreact"  (longPressed)="presentPopover($event,post.id)" >
              <ion-icon name="thumbs-up"></ion-icon>
            </button>
          </ion-col>

          <ion-col>

            <button  class="btnreact" [disabled]="btnComment"  (click)="getCommentBypost(post.id)"  >
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </button>
          </ion-col>

        </ion-row>
        <ion-progress-bar *ngIf="btnComment" type="indeterminate"></ion-progress-bar>

      </ion-footer>
    </ion-card>


  </div>

</div>

</ion-content>
