<ion-header translucent>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  >
  <ion-header>

    <ion-toolbar>

      <div  class="comments"  >

        <ion-input  autofocus [(ngModel)]="comment"    placeholder="Enter Comment"></ion-input>

      </div>

            <ion-buttons slot="end" style="margin-right: 21px;"    >
              <ion-button id="changeText" [disabled]="!comment"  (click)="CommentBtn()">
                <img class="imageSend" src="../../../../assets/svg/send.svg"  alt="ion">
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
  </ion-header>

  <ion-list   *ngFor="let com of data ; let i = index ">
    <ion-item>
      <ion-avatar slot="start">
        <img  *ngIf="com.userUrlPicture==null"  src="../../../../assets/image/profile.png">
        <img  *ngIf="com.userUrlPicture"  [src]=" com.userUrlPicture">

      </ion-avatar>
      <ion-label  style="cursor: pointer;"   (click)="CommentSignale(com.id,com.membreId,com.membreUserName)"  >
        <ion-text>
          <h2>{{com.membreFullName}}</h2>

          <ion-text color="medium">

            <p class="dateclasse">{{com.dateCreate | date: 'dd/MM/yyyy a hh:mm' }}</p>
          </ion-text>

        </ion-text>
        <ion-text color="medium">
          <p  class="commenttext">{{com.comment}}</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>




</ion-content>
