<ion-header translucent>
  <ion-toolbar>
    <ion-title>Signal une post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="content">
    <ion-list>
      <ion-item>
        <!-- <ion-label >Contenu text</ion-label> -->
        <ion-textarea  [(ngModel)]="reason"   rows="14"  placeholder="tapez ici le problème "></ion-textarea>
      </ion-item>






    </ion-list>
  </div>
<div class="btnsection">

  <section>

    <ion-button expand="block" [disabled]="!reason"  (click)="sgnalerBtn()">
      enregistrer
    </ion-button>
  </section>
</div>


</ion-content>
